@import "~bulma/sass/utilities/initial-variables"
@import url("../components/fonts.css")

// Config vars
// Younger Skin logo brand color: #8E9864
$ys-green: #8E9864
$ys-green-invert: #fff

$primary: $ys-green
$primary-invert: $ys-green-invert
$body-color: #333
$black: #2b2b23

// index-page
.new-title
  font-family: "Teko"

.new-subtitle
  font-family: "Teko"
  font-weight: 400 !important

.description
  font-family: "Barlow"
  font-weight: 300
  font-size: larger
  text-align: justify
  hyphens: auto
  line-height: 1.25

// Features
.feature-text
  font-family: "Barlow"
  font-weight: 200
  font-size: large
  text-align: justify
  hyphens: auto
  line-height: 1.25

// contents
.custom-font
  font-family: "Barlow"